body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/Fundo3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: 'Koulen', sans-serif; 
  text-transform: uppercase; 
}

html {
  height: 100%; 
  margin: 0; 
  overflow: hidden; 
}

.content {
  color: white;
  font-size: 3vw;
  text-shadow: 0.1vw 0.1vw 2px rgba(0, 0, 0, 0.74);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; 
  height: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px;
  background-color: #00576d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item-image {
  width: 100%; 
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item-name {
  font-size: 1.3rem;
  text-decoration: underline;  
  color: #ffffff;
  text-shadow: none;
  font-weight: lighter;
}
.item-info {
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: none;
  font-weight: lighter;
}

.button-container {
  text-align: center;
  position: absolute;
}

#nextButton {
  padding: 15px 30px;
  font-size: 1.8vw;
  font-family: 'Koulen', sans-serif; 
  background-color: #00bfff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: fixed;
  bottom: 2vh; 
  right: 2vw;  
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
}

#nextButton:hover:enabled {
  background-color: #009acd;
}



